body {
	font-family: 'Kumbh Sans';
	font-size: 16px;
	overflow-x: hidden;
}

.attribution {
	font-size: 11px;
	text-align: center;
	margin-top: 10rem;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.hidden {
	display: none;
}

header {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

#logo{
	height: 20px;
	width: 138px;
	margin-left: .5rem
}



#accordion:hover,
#profile-pic:hover,
#cart-icon:hover,
#increment:hover,
#decrement:hover,
button:hover,
.trash-icon:hover {
	cursor: pointer;
}

#nav-tag-container {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 1.1rem;
	width: 270px;
	background-color: white;
	z-index: 10;
	display: none;
}

#nav-container {
	display: flex;
	flex-direction: column;
}

.nav-links {
	text-decoration: none;
	color: black;
	font-family: 'Kumbh sans';
	font-weight: 700;
	margin-top: 1.5rem;
}

#close-button {
	display: block;
	width: 15px;
	height: 15px;
	margin-top: 1.3rem;
	margin-bottom: 1rem;
}

#transparent-background {
	background-color: rgba(0, 0, 0, .7);
	z-index: 9;
	position: absolute;
	display: none;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
}

#cart-prof-pic {
	display: flex;
	align-items: center;
}

#cart-icon-quantity-container{
	position: relative;
}

#cart-icon {
	width: 20px;
	height: 20px;
	margin-right: 1rem;
}

#cart-quantity {
	width: 20px;
	height: 12px;
	background-color: hsl(26, 100%, 55%);
	color: white;
	font-size: 10px;
	font-weight: 700;
	position: absolute;
	top: -8px;
	left: 10px;
	font-size: 12px;
	border-radius: 15px;
	text-align: center;
	display: none;
	cursor: pointer;
}

#profile-pic {
	width: 20px;
	height: 22px;
	transition: border .25s;
	border: 2px solid white;
	border-radius: 100%;
}

#profile-pic:hover {
	border-color: hsl(26, 100%, 55%);
}

#image-carousel {
	position: relative;
	display: block;
	margin: 0 auto;
	width: fit-content;
}

#image-carousel-modal{
	display: none;
}



.carousel-nav {
	position: absolute;
	top: 45%;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#next {
	right: .5rem;
}

#prev {
	left: .5rem;
}

.nav-icon {
	width: 8px;
}

#image-full-container{
	pointer-events: none;
}

.image-full {
	display: none;
	width: 100%;
	width: 375px;
	height: 300px;
}

.image-thumbnail{
	display: none;
}

.image-thumbnail-selected{
	display: none;
}

main {
	margin: .9rem;
}

#company-name {
	display: block;
	color: hsl(26, 100%, 55%);
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	margin-bottom: 1rem;
}

h1 {
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 1rem;
}

p {
	color: hsl(220, 14%, 75%);
	line-height: 1.2;
	margin-bottom: 1.5rem;
}

#price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 375px;
	margin: 0 auto;
	margin-bottom: 1rem;
}

#sale-percent-container {
	display: flex;
	width: 50%;
}

#sale-price {
	font-weight: 700;
	height: 26px;
	font-size: 26px;
	margin-right: 1rem;
}

#percent-container {
	background-color: hsl(25, 100%, 94%);
	display: inline-block;
	text-align: center;
	width: 40px;
	height: 26px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#sale-percent {
	color: hsl(26, 100%, 55%);
	font-size: 14px;
	font-weight: 700;
}

#retail-price {
	text-decoration: line-through;
	font-size: 12px;
	font-weight: 700;
	color: hsl(220, 14%, 75%);
}

#purchase-quantity {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	width: 100%;
	max-width: 375px;
	background-color: hsl(25, 100%, 94%);
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
}

#increment,
#decrement {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100px;
}

#increment:hover,
#decrement:hover {
	background-color: hsl(25, 100%, 90%);
}

#quantity {
	font-weight: 700;
}

.item-name, .math{
	color: hsl(220, 14%, 75%)
}

.center {
	display: flex;
	justify-content: center;
}

button {
	border: none;
	width: 100%;
	max-width: 375px;
	height: 50px;
	background-color: hsla(26, 100%, 55%);
	color: white;
	border-radius: 10px;
	box-shadow: 0px 25px 20px -20px hsl(0, 0%, 0%, 25%);
	margin-bottom: 1.5rem;
	transition: .25s;
	font-family: 'Kumbh Sans';
	font-weight: 700;
}

#add-to-cart-button {
	background-color: hsla(26, 100%, 55%, 0.4);
}

button:hover {
	transform: translateY(-1.5px);
}

button:active {
	transform: translateY(.5px);
}

#add-to-cart {
	display: inline-block;
	font-weight: bold;
}

button > img {
	margin-right: .5rem;
	vertical-align: middle;
}

button > img {
	height: 16px;
}

#modal {
	margin: 0 auto;
	padding: 0 1rem;
	border-radius: 10px;
	font-size: 14px;
	min-width: 250px;
	max-width: 250px;
	background: white;
	position: absolute;
	top: 40px;
	
	right: -50%;
	min-height: 200px;
	box-shadow: 5px 10px 25px -5px hsl(0, 0%, 0%, 25%);
	display: none;
	z-index: 1
}

#modal-title > h2 {
	padding: 1rem 1rem;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 2px solid hsl(220, 14%, 75%);
}

#item-container {
	max-height: 350px;
	overflow-y: scroll;
}

.modal-main {
	margin: 1rem 0;
	padding: 0 .1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	white-space: nowrap;
	text-overflow:ellipsis;
}

.modal-product-info {
	padding-left: 1rem;
	
}

.item-name {
	max-width: 150px;
	display: inline-block;
	text-overflow:ellipsis;
	overflow:hidden;
}

.total-price {
	font-weight: 700;
	margin-left: .5rem;
}

.cart-thumbnail {
	height: 50px;
}

.trash-icon {
	height: 14px;
	width: 14px;
	padding-left: 1rem;
}

#checkout-button {
	display: none;
}

#cart-empty {
	text-align: center;
	padding: 54px 0;
	font-weight: 700;
	color: hsl(220, 14%, 75%);
}


@media (min-width: 769px){

	body{
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 1rem;
	}

	#desktop-container{
		display: flex;
		padding: 0 1rem;
		justify-content: space-around;
		align-items: center;
	}

	header{
		max-width: 1200px;
		margin: 0 auto 3rem auto;
		padding: 0 0;
		border-bottom: 1px solid hsl(220, 14%, 75%);
		display: flex;
		align-items: center;
		
	}


	#accordion, #close-button{
		display: none;
	}


	#logo{
		margin-bottom: 4px;
	}
	

	#nav-tag-container{
		position: static;
		display: flex;
		width: 100%;
		margin-bottom: 4px;
	}

	#nav-container{
		flex-direction: row;
		align-items: center;
		width: inherit;
	}

	.nav-links{
		display: flex;
		align-items: center;
		height: 100%;
		margin: 0 0 0 2rem;
		padding: 0;
		border-bottom:  4px solid white;
		transition: border .10s;
		font-weight: 400;
		color: hsl(220, 14%, 75%)
	}

	.nav-links:hover{
		border-bottom: 4px solid hsl(26, 100%, 55%);
		color: black;
		
	}

	#logo-links{
		display: flex;
		align-items: center;
		height: 100px;
	}

	#profile-pic{
		height: 40px;
		width: 40px;
		margin-right: .5rem
	}

	
	main{
		max-width: 450px;
	}


	.image-full{
		height: 80%;
		border-radius: 15px;
		margin-bottom: 2rem;
		display: none;
	}

	

	.carousel-nav{
		display: none;
	}





	#image-thumbnail-container{
		display: flex;
		justify-content: space-between;
	}

	.image-thumbnail, .image-thumbnail-modal{
		display: initial;
		height: 80px;
		width: 80px;
		border-radius: 15px;
	}

	.image-thumbnail:hover{
		opacity: .5;
		cursor: pointer;
	}

	.image-thumbnail-selected, .image-thumbnail-modal-selected{
		
		display: initial;
		height: 74px;
		width: 74px;
		border: 3px solid hsl(26, 100%, 55%);
		border-radius: 15px;
		opacity: .5;
	}

	h1{
		font-size: 40px;
		margin-bottom: 1.5rem;
	}

	p{
		line-height: 1.5;
	}

	#price{
		flex-direction: column;
		align-items: flex-start;
		margin: 0 0 2rem 0;
	}

	#sale-percent-container{
		margin-bottom: 1rem;
	}
	
	.item-name{
		display: inline;
	}

	#desktop-quantity-button-container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;

	}

	#purchase-quantity{
		width: 30%;
		min-width: 120px;
		margin: 0;
	}

	#quantity{
		padding: .2rem;
	}

	button{
		width: 80%;
		margin: 0;

	}

	.center{
		flex-grow: 2;
		justify-content: center;
		width: 70%;
	}

	#image-carousel-modal{
		display: none;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		position: absolute;
		width: 100vw;
		height: 100vh;
		z-index: 10;
		background-color: rgba(0, 0, 0, .7);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	image-carousel-nav-img-wrapper{
		width: 500px;
		height: 500px
	}

	.carousel-nav-modal{
		
		position: relative;
		top: 45%;
		width: 50px;
		height: 50px;
		border-radius: 60px;
		background-color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	#prev-modal{
		top: 50%;
		right: 5%
	}

	#next-modal{
		top: 42.2%;
		left: 95%;
	}
	

	#image-modal-close{
		position: absolute;
		top: 7%;
		left: 72%;
		font-size: 35px;
		font-weight: 400;
		z-index: 10;
		color: white;

	}

	#image-modal-close:hover{
		color: hsl(26, 100%, 55%);
		cursor: pointer;
		
	}


	.image-full-modal{
		display: none;
		width: 500px;
		height: 500px;
		border-radius: 15px;
		margin-bottom: 2rem
	}

	#image-full-container{
		pointer-events:initial;
	}

	#image-thumbnail-container-modal{
		display: flex;
		flex-direction: row;
		width: 50%;
		justify-content: space-around;
	}



	#modal{
		min-width: 300px;
		max-width: 300px;
	}
}